Source: ros-hydro-pr2-tuck-arms-app
Section: misc
Priority: extra
Maintainer: Devon Ash <dash@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-pr2-mechanism-msgs, ros-hydro-pr2-tuck-arms-action, ros-hydro-rospy, ros-hydro-trajectory-msgs
Homepage: http://ros.org/wiki/tuckarm
Standards-Version: 3.9.2

Package: ros-hydro-pr2-tuck-arms-app
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-pr2-mechanism-msgs, ros-hydro-pr2-tuck-arms-action, ros-hydro-rospy, ros-hydro-trajectory-msgs
Description: Tucks the arms of the PR2 robot into a safe position for moving the base of the robot. This also moves the arms out of the view of the tilting laser scanner, as much as possible.
